<% @title = capture do %>
  Issue List
<% end %>
<% @menuissues = capture do %>
  class="on"
<% end %>
<% @navcurrent = capture do %>
  Issues
<% end %>
<% @navactions = capture do %>
                <li><a href="" class="action-icon">＋</a></li>
                <li><a href="" class="action-icon">～</a></li>
                <li><a href="" class="action-icon">⊕</a></li>
<% end %>

<%= render :partial => "issue-title-discussion" %>
<%= render :partial => "initiative-title" %>
<%= render :partial => "initiative-title" %>
<%= render :partial => "initiative-title" %>
            <footer class="bar level-3">
                <span class="meta-text">
                    <span>◆ g0v</span>
                    <span class="description-icon">＞</span>
                    <span>◎ Hackathon</span>
                    <span class="description-icon">＞</span>
                    <span>§ Fast Poll #12</span>
                </span>
                <span class="action">
                    <a href="issue.html" class="action-icon">＞</a>
                </span>
            </footer>
<%= render :partial => "issue-title-voting" %>
<%= render :partial => "initiative-title-voting" %>
<%= render :partial => "initiative-title-voting" %>
<%= render :partial => "initiative-title-voting" %>
<%= render :partial => "initiative-title-voting" %>
<%= render :partial => "initiative-title-voting" %>
            <footer class="bar level-3">
                <span class="meta-text">
                    <span>◆ g0v</span>
                    <span class="description-icon">＞</span>
                    <span>◎ Hackathon</span>
                    <span class="description-icon">＞</span>
                    <span>§ Fast Poll #12</span>
                </span>
                <span class="action">
                    <a href="issue.html" class="action-icon">＞</a>
                </span>
            </footer>
<%= render :partial => "issue-title-admission" %>
<%= render :partial => "initiative-title" %>
<%= render :partial => "initiative-title" %>
            <footer class="bar level-3">
                <span class="meta-text">
                    <span>◆ g0v</span>
                    <span class="description-icon">＞</span>
                    <span>◎ Hackathon</span>
                    <span class="description-icon">＞</span>
                    <span>§ Fast Poll #12</span>
                </span>
                <span class="action">
                    <a href="issue.html" class="action-icon">＞</a>
                </span>
            </footer>
<%= render :partial => "issue-title-verification" %>
<%= render :partial => "initiative-title" %>
<%= render :partial => "initiative-title" %>
<%= render :partial => "initiative-title" %>
            <footer class="bar level-3">
                <span class="meta-text">
                    <span>◆ g0v</span>
                    <span class="description-icon">＞</span>
                    <span>◎ Hackathon</span>
                    <span class="description-icon">＞</span>
                    <span>§ Fast Poll #12</span>
                </span>
                <span class="action">
                    <a href="issue.html" class="action-icon">＞</a>
                </span>
            </footer>
