<% @title = capture do %>
  Issue Page
<% end %>
<% @menuissues = capture do %>
  class="on"
<% end %>
<% @navcurrent = capture do %>
  Issues
<% end %>
<% @navactions = capture do %>
                <a class="action-icon" name="show-pad">□</a>
                <a class="action-icon" name="collapse-all-initiatives">↑</a>
                <a class="action-icon" name="expand-all-initiatives">↓</a>
                <a class="action-icon" name="search">⊕</a>
<% end %>

            <div class="issue-detail-title">
<%= render :partial => "issue-title-discussion" %>
            </div>

            <div class="issue-detail-content">
            <aside class="level-2 meta-text">
                <span class="location">
                    <span>◆ g0v</span>
                    <span class="description-icon">＞</span>
                    <span>◎ Hackathon</span>
                    <span class="description-icon">＞</span>
                    <span>§ Fast Poll #12</span>
                </span>
                <span class="timestamp">
                    <span>　2013/06/29 17:32</span>
                </span>
            </aside>

            <div class="initiative-wrapper">
<%= render :partial => "initiative" %>
<%= render :partial => "suggestions" %>
<%= render :partial => "argument-pros" %>
<%= render :partial => "argument-cons" %>
            </div>

            <div class="initiative-wrapper">
<%= render :partial => "initiative" %>
<%= render :partial => "suggestions" %>
<%= render :partial => "argument-pros" %>
<%= render :partial => "argument-cons" %>
            </div>

            <div class="initiative-wrapper">
<%= render :partial => "initiative" %>
<%= render :partial => "suggestions" %>
<%= render :partial => "argument-pros" %>
<%= render :partial => "argument-cons" %>
            </div>

            <footer class="bar level-1 meta-text">
                <span>Created...
                </span>
            </footer>
            </div>